<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="error">
	<Properties>
		<Property name="log_home">/logs/</Property>
	</Properties>
	
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss,SSS} [%p] %c{1}%x - %m%n"/>
        </Console>
        
        <RollingRandomAccessFile name="tbwebcom" fileName="${log_home}/tbwebcom.log"
                     filePattern="${log_home}/tbwebcom.log.%-d{yyyy-MM-dd-HH}">
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss,SSS} %x - %m%n"/>
            <Policies>
            	<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
        
        <RollingRandomAccessFile name="tbweberror" fileName="${log_home}/tbweberror.log"
                     filePattern="${log_home}/tbweberror.log.%-d{yyyy-MM-dd}">
            <ThresholdFilter level="error" onMatch="ACCEPT"/>
            <PatternLayout pattern="%-d{yyyy-MM-dd HH:mm:ss,SSS} %x - %m%n"/>
            <Policies>
            	<TimeBasedTriggeringPolicy interval="24" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    
    <Loggers>
    	<Logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug" additivity="false">
            <AppenderRef ref="tbwebcom"/>
            <AppenderRef ref="tbweberror"/>
        </Logger>
        <Root level="info">
        	<AppenderRef ref="console"/>
        	<AppenderRef ref="tbwebcom"/>
        	<AppenderRef ref="tbweberror"/>
        </Root>
    </Loggers>
</Configuration>